body {
  background-color:darkred;

}


h1 {
  color:white;
  font-family:copperplate,fantasy;
  
}

p {
  color:white;
  font-family:monaco,monospace;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #8B0000;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

::-webkit-scrollbar-thumb:hover {
  background: #990F02;
}
   
#gamezone {
  background-color: navy;
  width: 800px;
  height:400px;
  border: 2px solid blue;
  margin: 20px;
}